@import "../quizlists/quizlists.component.scss";
// @import "../app.component.scss";

.add-quesstion-btn{
    @include button-style($yellow,$yellow,$nav-font-color,false);
    text-decoration: none;
}

.delete-quiz-btn{
    @include button-style($purple, white, $purple,true);
    text-decoration: none;

}

.delete-question{
    color: $purple;
}

.question{
    font-size: 20px;
    font-weight: bold;
    color: $purple
}