<app-navbar [title]="questionlists_title"></app-navbar>

<div class="container">
<div class="d-flex flex-row justify-content-between flex-wrap">
    <a class="add-quesstion-btn text-center p-2 mt-5" href=""> <i class="bi bi-plus-lg"></i> Ajouter une question</a>
    <a class="delete-quiz-btn text-center p-2 mt-5" href="">Supprimer le quiz</a>
</div>


      <div class="card-list">
        <h2 class="question">la question ?</h2>
        <div class="icons-card-list">
          <a href="http://" class="icons details"><i class="bi bi-eye fs-2"></i><span>Voir le détail</span></a>
          <a href="http://" class=" icons delete-question"> <i class="bi bi-x-circle fs-2"></i> <span>Supprimer</span></a>
        </div>
      </div>
</div>

