<app-navbar [title]="quiz_title"></app-navbar>

<div class="container">
    <!-- Afficher uniquement la question actuelle -->
    @if (currentQuestionIndex < questionsWithAnswers.length) {
    <div>
        <h2 class="mt-5 text-center">{{questionsWithAnswers[currentQuestionIndex].question}}</h2>

        <!-- Boucle sur les paires de réponses de la question actuelle -->
        @for (answer of questionsWithAnswers[currentQuestionIndex].responsePairs; track answer) {
        <div class="responses row">
            
            <!-- Première colonne -->
            <div class="col d-flex justify-content-center align-items-center">
                <input type="checkbox" class="btn-check" id="btn-check-{{answer[0]?.id}}" autocomplete="off" (change)="handleAnswerSelection(answer[0]?.correct)">
                <label [style.background-color]="answer[0]?.color" class="btn m-4" for="btn-check-{{answer[0]?.id}}">
                    {{answer[0]?.response}}
                </label>
            </div>

            @if (answer[1]) {
            <!-- Deuxième colonne -->
            <div class="col d-flex justify-content-center align-items-center">
                <input type="checkbox" class="btn-check" id="btn-check-{{answer[1]?.id}}" autocomplete="off" (change)="handleAnswerSelection(answer[1]?.correct)">
                <label [style.background-color]="answer[1]?.color" class="btn m-4" for="btn-check-{{answer[1]?.id}}">
                    {{answer[1]?.response}}
                </label>
            </div>}
            
        </div>
        }
    </div>}
</div>
