<app-navbar [title]="addQuestion_title"></app-navbar>

<form [formGroup]="formulaire" (ngSubmit)="onAddQuestion()">
  <div class="card-question p-3 p-sm-5 m-4" formArrayName="questions">
    @for (question of questions.controls; let i= $index; track i) {
    <div [formGroupName]="i">
      <div class="mb-3">
        <label for="questionText" class="form-label">Entrez votre question</label>
        <input type="text" id="questionText" class="form-control" formControlName="question" aria-required="true">
        @if(submitted && questions.at(i).get('question')?.hasError("required")) {
          <div class="text-danger fs-6" role="alert">L'intitulé de la question est obligatoire</div>
        }
        @else if (questions.at(i).get('question')?.hasError("minlength")) {
          <div class="text-danger fs-6" role="alert">L'intitulé doit avoir 3 caractères minimum</div>

          }
      </div>

      <table class="table">
        <tbody formArrayName="responses">
          @for (response of getResponses(i).controls; let j=$index; track j) {
          <ng-container>
            <tr>
              <th><label for="answer" class="form-label">Proposition {{j + 1}} </label></th>
              <th><label for="isCorrect" class="form-label ps-5">Bonne(s) réponse(s)</label></th>
            </tr>
            <tr [formGroupName]="j">
              <td class="w-75"><input type="text" id="answer" class="form-control" formControlName="response"
                aria-required="true"
                [attr.aria-invalid]="submitted && getResponses(i).at(j).get('response')?.invalid">
                @if(submitted && getResponses(i).at(j).get('response')?.hasError("required")) {
                  <div class="text-danger fs-6" role="alert">L'intitulé de la réponse est obligatoire</div>
                }
                @else if (getResponses(i).at(j).get('response')?.hasError("minlength")) {
                  <div class="text-danger fs-6" role="alert">L'intitulé doit avoir 3 caractères minimum</div>
        
                  }
              </td>
              <td class="ps-5"><input type="checkbox" class="form-check-input" id="isCorrect"
                  formControlName="correct"  >
              </td>
            </tr>
          </ng-container>
          }
        </tbody>
      </table>
    </div>
    }
  </div>

  <div class="d-flex flex-row justify-content-evenly flex-wrap">
    <button type="submit" class="register-btn mt-4">Enregistrer</button>
    <button type="reset" class="cancel-btn mt-4">Annuler</button>
  </div>

</form>