<header>
  <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
    <i class="burger fs-1 bi bi-list"></i></button>
  <h1>{{title}}</h1>
  </header>
  
  <nav class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
      <button class="btn" data-bs-dismiss="offcanvas" aria-label="Close"><i class="burger fs-1 bi bi-list"></i></button>
    </div>

    <img  src="/assets/images/logo-navbar.png" alt="Logo infinite quiz" />
    <a class="butn-profil" href=""><i class="fs-1 bi bi-person-circle"></i> <span>Mon Profil</span></a>

    <ul>
      <li><a href=""><i class="fs-3 bi bi-house-fill"></i> Accueil </a></li>
      <li><a href=""><i class="fs-3 bi bi-bookmark-plus-fill"></i> Créer un quiz</a></li>
      <li><a href=""><i class="fs-3 bi bi-play-circle-fill"></i> Jouer </a></li>
      <li><a href=""><i class="fs-3 bi bi-file-bar-graph-fill"></i> Statistiques </a></li>
      <li><a href=""><i class="fs-3 bi bi-briefcase-fill"></i> Ma Structure</a></li>
      <li><a href=""><i class="fs-3 bi bi-gear-fill"></i> Paramètres</a></li>
    </ul>

  </nav>