<header class="d-flex flex-row align-items-center">
  <button class="btn me-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
    <i class="burger fs-1 bi bi-list"></i></button>
  <h1>{{title}}</h1>
  </header>
  
  <nav class="offcanvas offcanvas-start h-100" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
      <button class="btn" data-bs-dismiss="offcanvas" aria-label="Close"><i class="burger fs-1 bi bi-list"></i></button>
    </div>

    <img  class="mx-auto my-3" src="/assets/images/logo-navbar.png" alt="Logo infinite quiz" />
    <a class="butn-profil mx-auto d-flex flex-row justify-content-around align-items-center" href=""><i class="fs-1 bi bi-person-circle"></i> <span>Mon Profil</span></a>

    <ul class="ms-5 mt-sm-3">
      <li class="m-4 m-sm-3"><a href=""><i class="fs-3 bi bi-house-fill"></i> Accueil </a></li>
      <li class="m-4 m-sm-3"><a href=""><i class="fs-3 bi bi-bookmark-plus-fill"></i> Créer un quiz</a></li>
      <li class="m-4 m-sm-3"><a href=""><i class="fs-3 bi bi-play-circle-fill"></i> Jouer </a></li>
      <li class="m-4 m-sm-3"><a href=""><i class="fs-3 bi bi-file-bar-graph-fill"></i> Statistiques </a></li>
      <li class="m-4 m-sm-3"><a href=""><i class="fs-3 bi bi-briefcase-fill"></i> Ma Structure</a></li>
      <li class="m-4 m-sm-3"><a href=""><i class="fs-3 bi bi-gear-fill"></i> Paramètres</a></li>
    </ul>

  </nav>