@import "../../app.component.scss";

.div-form{
    height: 100vh;
    .card-quiz{
        @include card-style(375px, auto, $purple, $purple, 30px);
        display: flex;
        flex-direction: column;
        align-items: center;

        input, select {
            @include input-style(314px);
        }
    
        label{
            color: white;
        }
    
        button{
            @include button-style($yellow,$yellow,$nav-font-color,false)
        }
        
    }
}
