<app-navbar [title]="invite_players_title"></app-navbar>

<div class="div-form d-flex justify-center align-items-center">
    <div class="card-quiz p-5 m-auto d-flex flex-column align-items-center">
        <h2>Merci de transmettre le lien et code secret ci-dessous</h2>
        <div class="link-game p-3 m-5"> 
            <p>lien</p>
            <p>code secret: <span>généré</span> </p>
        </div>
        <a class="btn-waiting-room p-1" href="http://">Voir la salle d'attente</a>
    </div>
</div>
