<div class="div-form">
  <form>
    <img class="fit-picture" src="/assets/images/logo.png"
      alt="Logo infinite quiz" />
      <div>
    <div class="form-group">
      <label for="InputEmail1">Entrer votre Email</label>
      <input type="email" class="form-control" aria-describedby="Saissisez votre email" placeholder="exemple@email.fr">
    </div>

    
    <div class="form-group">
      <label for="exampleInputPassword1">Entrer votre mot de passe</label>
      <input type="password" class="form-control" aria-describedby="Saissisez votre mot de passe"
        placeholder="mot de passe">
    </div>
  </div>
    <div class="form-group form-check">
      <input type="hidden" aria-hidden="true">
    </div>
    <button aria-label="Bouton de Connection" type="submit" class="login-btn">Connection</button>
    <a href="" aria-describedby="Mot de passe oublié ? ">Mot de passe oublié ?</a>
  </form>
</div>