@import "../app.component.scss";

.div-form {
    background-color: #8906E6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        margin: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 2%;
        border-radius: 30px;
        background-color: white ;
        box-shadow: 1px 1px 40px 16px #F3E3FF;
        width: 360px;



        label {
            color: #8906E6;
            margin-top: 8%;
        }

        input {
            background-color: #E2E2E6;
            border-radius: 50px;
            border: none;
            width: 314px;
            height: 48px;
        }

        .login-btn {
            @include button-style(none,$yellow,$nav-font-color);
            margin: 2% 0 2% 0;

        }

        a{
            color: #261447;
            font-size: 20px;
        }

    }
}