@import "../app.component.scss";
.div-form {

    height: 100vh;

    form {

        @include card-style(auto, auto, white,$purple, 25px);


        label {
            color: $purple;
            margin-top: 8%;
            font-size: 20px;
        }

        input {
            @include input-style(100%)
 
        }

        .errors-msg{
            margin: auto;
            font-size: medium;
            color: #9d2e33;
        }

        .validate-btn {
            @include button-style($yellow, $yellow, $nav-font-color, false);

        }

        .cancel-btn {
            @include button-style($purple, white, $purple, true);
        }


    }
}