<app-navbar [title]="changePw_title"></app-navbar>

<div class="div-form d-flex justify-center align-items-center">
    <form class="m-auto h-auto p-3 d-flex flex-column align-items-center" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        
        <div>
            <div class="form-group">
                <label for="InputOldPassword">Entrer votre ancien mot de passe</label>
                <input formControlName="old_pw" type="password" class="form-control"
                    aria-describedby="Saissisez votre ancien mot de passe" placeholder="ancien mot de passe">
            </div>

            <div class="form-group">
                <label for="InputPassword">Entrer votre nouveau mot de passe</label>
                <input formControlName="pw" type="password" class="form-control"
                    aria-describedby="Saissisez votre nouveau mot de passe" placeholder="nouveau mot de passe">
            </div>
            <div class="form-group">
                <label for="ConfInputPassword">Confirmer votre nouveau mot de passe</label>
                <input formControlName="cpw" type="password" class="form-control"
                    aria-describedby="Confirmer votre nouveau mot de passe" placeholder="nouveau mot de passe">
            </div>
            @if (noMatch){
            <p class="errors-msg">
                La confirmation ne correspond pas au mot de passe entré.
            </p>
            }
            @else if ((passwordForm.get('pw')?.errors?.['required'] || passwordForm.get('pw')?.errors?.['pattern'])&& passwordForm.get('pw')?.touched){
            <div class="errors-msg">
                Veuillez entrer un mot de passe de 12 carctères contenant au moins : 
                <ul>
                    <li>une majuscule</li>
                    <li>une minuscule</li>
                    <li>un chiffre</li>
                    <li>un caractère spéciale</li>
                </ul>

            </div>
            }
        </div>
        <div class="form-group form-check">
            <input formControlName="robbot" type="hidden" aria-hidden="true">
        </div>
        <div>
            
        </div>
        <button aria-label="Bouton de validation" type="submit" class="validate-btn my-3">Valider</button>
        <button aria-label="Bouton d'annulation" class="cancel-btn my-3">Annuler</button>
    </form>
</div>
