<app-navbar [title]="changePw_title"></app-navbar>

<main class="div-form d-flex justify-center align-items-center">
    <form class="m-auto h-auto p-3 d-flex flex-column align-items-center" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div [class]="style_class" role="alert" aria-live="assertive">{{msg}}</div>
        <div>

            <div class="form-group">
                <label for="InputPassword">Entrer votre nouveau mot de passe</label>
                <input id="InputPassword" formControlName="plainPassword" type="password" class="form-control" placeholder="nouveau mot de passe">
            </div>
            <div class="form-group">
                <label for="ConfInputPassword">Confirmer votre nouveau mot de passe</label>
                <input id="ConfInputPassword" formControlName="cpw" type="password" class="form-control" placeholder="nouveau mot de passe">
            </div>
            @if (noMatch){
            <p class="errors-msg" role="alert" aria-live="assertive">
                La confirmation ne correspond pas au mot de passe entré.
            </p>
            }
            @else if ((passwordForm.get('plainPassword')?.errors?.['required'] || passwordForm.get('plainPassword')?.errors?.['pattern'])&& passwordForm.get('plainPassword')?.touched){
            <div class="errors-msg" role="alert" aria-live="assertive">
                Veuillez entrer un mot de passe de 12 carctères contenant au moins : 
                <ul>
                    <li>une majuscule</li>
                    <li>une minuscule</li>
                    <li>un chiffre</li>
                    <li>un caractère spéciale</li>
                </ul>

            </div>
            }
        </div>
        <div class="form-group pot">
            <input formControlName="honneypot" type="text" aria-hidden="true" value="">
          </div>
        <div>
            
        </div>
        <button aria-label="Bouton de validation" type="submit" class="validate-btn my-3">Valider</button>
        <button routerLink="/setting" aria-label="Bouton d'annulation" class="cancel-btn my-3" type="button">Annuler</button>
    </form>
</main>
