<app-navbar [title]="enterGame_title"></app-navbar>

<div class="div-form d-flex justify-center align-items-center">
    <form class="card-quiz p-5 m-auto">
        <div class="mb-3">
            <label for="TextInput" class="form-label">Entrez le code secret</label>
            <input type="text" id="TextInput" class="form-control">
        </div>

        <div class="mb-3">
            <label for="TextInput" class="form-label">Quel sera votre nom légendaire ?</label>
            <input type="text" id="TextInput" class="form-control" placeholder="Entrer un pseudo">
        </div>
       
        <button type="submit" class="m-4">Valider</button>
    </form>
</div>