@import "../../app.component.scss";

div>div{
    padding: 20px;
    margin-top: 20px;
    @include card-style(auto, 120px, $grey, $grey, 18px);
    display: flex;
    align-items: center;

    a{
        color: $purple;
    }
}