<app-navbar [title]="setting_title"></app-navbar>
<main class="container">

    <div><a routerLink="/userinfos">Modifier mes informations</a></div>
    <div><a routerLink="/changepassword">Changer mon mot de passe</a></div>
    <div><a href="/createorganization">Créer une structure</a></div>
    <div><a routerLink="/setting" data-bs-toggle="modal" data-bs-target="#contact">Nous contacter</a></div>
    <div><a href="/assets/privacy-policy.html">Politiques de confidentialité</a></div>
    <div><a routerLink="/setting" data-bs-toggle="modal" data-bs-target="#delete-account">Supprimer mon compte</a></div>
</main>
  
  <div class="modal fade" id="delete-account" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog w-auto h-auto bg-body">
      <span class="modal-content border border-white">
        <div class="modal-body w-100 border border-white">
        <button type="button" class="btn-close mb-3" data-bs-dismiss="modal" aria-label="Close"></button>
          <p [class]="style_class" role="alert" aria-live="assertive">{{message}}</p>
        </div>
        <div class="modal-footer w-100 d-flex justify-content-around border border-white">
          <button type="button" class="btn btn-secondary rounded-pill fs-4" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-outline-danger rounded-pill fs-4" (click)="onDelete()">Supprimer</button>
        </div>
      </span>
    </div>
  </div>

  <div class="modal" id="contact" tabindex="-1" aria-labelledby="modalInfos" aria-hidden="true">
    <div class="modal-dialog bg-body">
      <span class="modal-content w-100 h-100 border border-white">
        <div class="d-flex justify-content-around">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h5 class="modal-title fs-5 " id="modalInfos">Contactez nous à l'adresse mail suivante :</h5>
        </div>           
        <div class="text-center fs-3">
          <p>infinite&#64;quiz.fr</p>
        </div>
      </span>
    </div>
  </div>