@import "../../app.component.scss";
.div-form{
    height: 100vh;
    color: white;
    text-align: center;

    .card-quiz{
        @include card-style(auto, auto, $purple, $purple, 30px);
    .nb_players{
        font-size: 60px;
    }
    .btn-waiting-room{
        @include button-style($yellow,white,$nav-font-color,true);
        text-align: center;
        text-decoration: none;
        box-shadow: $shadow;
    }
    }
}