.div-form {
    background-color: #8906E6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        margin: auto;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 2%;
        border-radius: 30px;
        background-color: white ;
        box-shadow: 1px 1px 40px 16px #F3E3FF;
        width: 360px;



        label {
            color: #8906E6;
            margin-top: 8%;
        }

        input {
            background-color: #E2E2E6;
            border-radius: 50px;
            border: none;
            width: 314px;
            height: 48px;
        }

        .errors-msg{
            margin: auto;
            font-size: medium;
            color: #9d2e33;
        }

        .signup-btn {
            width: 314px;
            height: 48px;
            border-radius: 50px;
            border: none;
            background-color: #F4D06F;
            margin: 2% 0 2% 0;

        }

        .cancel-btn {
            width: 314px;
            height: 48px;
            border-radius: 50px;
            border: 2px solid #F4D06F;
            margin: 2% 0 2% 0;

        }


    }
}