@import "../app.component.scss";
.div-form {
    background-color: $purple;
    height: 100vh;

    form {

        border-radius: 30px;
        background-color: white ;
        box-shadow: $shadow;
        width: 360px;

        label {
            color: $purple;
            margin-top: 8%;
        }

        input {
            @include input-style(314px)
 
        }

        .errors-msg{
            margin: auto;
            font-size: medium;
            color: #9d2e33;
        }

        .signup-btn {
            @include button-style($yellow, $yellow, $nav-font-color, false);

        }

        .cancel-btn {
            @include button-style($yellow, white, $nav-font-color, true);
        }


    }
}