<div class="div-form d-flex justify-center align-items-center">
    <form class="m-auto h-auto p-3 d-flex flex-column align-items-center" [formGroup]="signUpForm"
        (ngSubmit)="onSubmit()">
        <img class="fit-picture" src="/assets/images/logo.png" alt="Logo infinite quiz" />
        <div>
            <div class="form-group">
                <label for="InputFirstName">Entrer votre prénom</label>
                <input formControlName="firstname" type="text" class="form-control"
                    aria-describedby="Saissisez votre prénom" placeholder="Satoru">

                <label for="InputEmail1">Entrer votre Email</label>
                <input formControlName="email" type="email" class="form-control"
                    aria-describedby="Saissisez votre email" placeholder="exemple@email.fr">

                @if ((signUpForm.get('email')?.errors?.['email'] || signUpForm.get('email')?.errors?.['required']) &&
                signUpForm.get('email')?.touched){
                <p class="errors-msg">
                    Veuillez entrez un mail valide.
                </p>
                }
            </div>


            <div class="form-group">
                <label for="InputPassword">Entrer votre mot de passe</label>
                <input formControlName="plainPassword" type="password" class="form-control"
                    aria-describedby="Saissisez votre mot de passe" placeholder="mot de passe">
            </div>
            <div class="form-group mb-3">
                <label for="ConfInputPassword">Confirmer votre mot de passe</label>
                <input formControlName="cpw" type="password" class="form-control"
                    aria-describedby="Confirmer votre mot de passe" placeholder="mot de passe">
            </div>

            <div class="form-group pot">
                <input formControlName="honneypot" type="text" aria-hidden="true" value="">
            </div>

            @if (error_msg){
            <p class="errors-msg">
                {{error_msg}}
            </p>
            }
            @else if ((signUpForm.get('plainPassword')?.errors?.['required'] ||
            signUpForm.get('plainPassword')?.errors?.['pattern'])&& signUpForm.get('plainPassword')?.touched){
            <div class="errors-msg">
                Veuillez entrer un mot de passe de 12 caractères contenant au moins : <ul>
                    <li>une majuscule</li>
                    <li>une minuscule</li>
                    <li>un chiffre</li>
                    <li>un caractère spéciale</li>
                </ul>
            </div>
            }
        </div>

        <button aria-label="Bouton de validation" type="submit" class="signup-btn my-3">S'inscrire</button>
        <button aria-label="Bouton d'annulation" class="cancel-btn my-3">Annuler</button>
    </form>
</div>