<app-navbar [title]="nav_title"></app-navbar>

<div class="container">

    <div class=" row dashboard ">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            
            <h2 class="card-title">Vos Quizs</h2>
    
            <a href="#" class="dashboard-btn">Voir la liste</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
       
            <h2 class="card-title">Vos Classements</h2>
            <a href="#" class="dashboard-btn">Voir la liste</a>
          </div>
        </div>
        
        
      </div>
</div>

