<app-navbar [title]="user_information"></app-navbar>
<div class="div-form d-flex justify-center align-items-center">
    <form class="m-auto h-auto p-3 d-flex flex-column align-items-center" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div [class]="style_class" >{{msg}}</div>
        <div>
            <div class="form-group">
                <label for="InputFirstName">Entrer votre prénom</label>
                <input formControlName="firstname" type="text" class="form-control"
                    aria-describedby="Saissisez votre prénom" [(value)]="user_name">

                <label for="InputEmail1">Entrer votre Email</label>
                <input formControlName="email" type="email" class="form-control"
                    aria-describedby="Saissisez votre email" [(value)]="user_email">

                @if ((userForm.get('email')?.errors?.['email'] || userForm.get('email')?.errors?.['required']) &&
                userForm.get('email')?.touched){
                <p class="errors-msg">
                    Veuillez entrez un mail valide.
                </p>
                }
            </div>

        </div>
        <div class="form-group pot">
            <input formControlName="honneypot" type="text" aria-hidden="true" value="">
          </div>
        <button aria-label="Bouton de validation" type="submit" class="validate-btn mt-3 mb-2">Valider</button>
        <button aria-label="Bouton d'annulation" class="cancel-btn my-2">Annuler</button>
    </form>
</div>
