@import "../app.component.scss";
.div-form {

    height: 90vh;

    form {

        @include card-style(360px, auto, white,$purple, 30px);


        label {
            color: $purple;
            margin-top: 3%;
        }

        input {
            @include input-style(314px)

        }
        ::placeholder {
            color: $nav-font-color;
        }

        .errors-msg{
            margin: auto;
            font-size: medium;
            color: #9d2e33;
        }

        .validate-btn {
            @include button-style($yellow, $yellow, $nav-font-color, false);

        }

        .cancel-btn {
            @include button-style($purple, white, $purple, true);
        }


    }
}