@import "../app.component.scss";
.div-form{
    height: 100vh;
    color: white;

    .card-quiz{
        @include card-style(auto, auto, $purple, $purple, 30px);
    .link-game{
        background-color: $input-background;
        border-radius: 18px;
        border: none;
        height: auto;
        width: 100%;
        color: $nav-font-color;
    }
    .btn-waiting-room{
        @include button-style($yellow,$yellow,$nav-font-color,false);
        text-align: center;
        text-decoration: none;
    }
    }
}